In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
# get file paths in a list
file_paths = [r'C:\Users\arulkumar\Desktop\MLGuvi\Singapore_Resale_Flat_Prices_Predicting\ResaleFlatPricesBasedonApprovalDate2000Feb2012.csv',r'C:\Users\arulkumar\Desktop\MLGuvi\Singapore_Resale_Flat_Prices_Predicting\ResaleFlatPricesBasedonApprovalDate19901999.csv', r'C:\Users\arulkumar\Desktop\MLGuvi\Singapore_Resale_Flat_Prices_Predicting\ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016.csv', r'C:\Users\arulkumar\Desktop\MLGuvi\Singapore_Resale_Flat_Prices_Predicting\ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv', r'C:\Users\arulkumar\Desktop\MLGuvi\Singapore_Resale_Flat_Prices_Predicting\ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014.csv']
# declare an empty list
dfs = []
# append each csv to the dfs list
for file_path in file_paths:
    df = pd.read_csv(file_path)
    dfs.append(df)
# combine them using concat
combined_df = pd.concat(dfs, ignore_index=True)

In [6]:
# display the combined dataframe
combined_df.tail()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
911590,2014-12,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0,NaN
911591,2014-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0,NaN
911592,2014-12,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0,NaN
911593,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0,NaN
911594,2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0,NaN

In [7]:
# check for null values
combined_df.isnull().sum()

month                       0
town                        0
flat_type                   0
block                       0
street_name                 0
storey_range                0
floor_area_sqm              0
flat_model                  0
lease_commence_date         0
resale_price                0
remaining_lease        709050
dtype: int64

In [8]:
# check the number of streets
street_nos = len(combined_df['street_name'].unique())
street_nos

582

In [9]:
# list unique street names
streets = combined_df['street_name'].unique()
streets

array(['ANG MO KIO AVE 4', 'ANG MO KIO AVE 1', 'ANG MO KIO AVE 10',
       'ANG MO KIO AVE 2', 'ANG MO KIO AVE 3', 'ANG MO KIO AVE 5',
       'ANG MO KIO AVE 6', 'ANG MO KIO AVE 8', 'ANG MO KIO AVE 9',
       'ANG MO KIO ST 21', 'ANG MO KIO ST 31', 'ANG MO KIO ST 11',
       'BEDOK RESERVOIR RD', 'BEDOK NTH RD', 'BEDOK NTH ST 3',
       'BEDOK STH AVE 1', 'BEDOK STH RD', 'CHAI CHEE AVE',
       'NEW UPP CHANGI RD', 'CHAI CHEE DR', 'CHAI CHEE RD',
       'BEDOK NTH AVE 1', 'BEDOK NTH AVE 2', 'BEDOK NTH AVE 3',
       'BEDOK NTH AVE 4', 'BEDOK NTH ST 1', 'BEDOK NTH ST 2',
       'BEDOK NTH ST 4', 'BEDOK STH AVE 2', 'BEDOK STH AVE 3',
       'CHAI CHEE ST', 'LENGKONG TIGA', 'JLN TENAGA', 'SIN MING RD',
       'SHUNFU RD', 'BISHAN ST 11', 'BISHAN ST 12', 'BISHAN ST 13',
       'SIN MING AVE', 'BISHAN ST 22', 'BISHAN ST 23', 'BISHAN ST 24',
       'BRIGHT HILL DR', 'BT BATOK ST 51', 'BT BATOK ST 52',
       'BT BATOK ST 11', 'BT BATOK ST 21', 'BT BATOK ST 34',
       'BT BATOK WEST AVE 4', 'BT BATOK WEST AVE 8',
       'BT BATOK EAST AVE 4', 'BT BATOK EAST AVE 5', 'BT BATOK ST 31',
       'BT BATOK ST 32', 'BT BATOK ST 33', 'BT BATOK WEST AVE 6',
       'BT BATOK EAST AVE 3', 'BT BATOK CTRL', 'BT BATOK WEST AVE 2',
       'TAMAN HO SWEE', 'TELOK BLANGAH CRES', 'HOY FATT RD',
       'BT MERAH VIEW', 'JLN BT MERAH', 'KIM TIAN RD', 'TELOK BLANGAH DR',
       'TELOK BLANGAH RISE', 'TELOK BLANGAH WAY', 'ZION RD',
       'BT PURMEI RD', 'TELOK BLANGAH HTS', 'BEO CRES', 'HAVELOCK RD',
       'JLN BT HO SWEE', 'JLN KLINIK', 'REDHILL CL', 'HENDERSON CRES',
       'BT MERAH CTRL', 'DELTA AVE', 'EVERTON PK', 'KIM TIAN PL',
       'DEPOT RD', 'SPOTTISWOODE PK RD', 'GANGSA RD', 'PENDING RD',
       'PETIR RD', 'BANGKIT RD', 'BT PANJANG RING RD', 'FAJAR RD',
       'SAUJANA RD', 'EMPRESS RD', "QUEEN'S RD", 'TOH YI DR', 'JLN KUKOH',
       'KELANTAN RD', 'SAGO LANE', 'TG PAGAR PLAZA', 'CHANDER RD',
       'ROWELL RD', 'VEERASAMY RD', 'QUEEN ST', 'ROCHOR RD',
       'KRETA AYER RD', 'TECK WHYE AVE', 'TECK WHYE LANE',
       'CHOA CHU KANG AVE 1', 'CHOA CHU KANG AVE 2',
       'CHOA CHU KANG AVE 3', 'CHOA CHU KANG AVE 4', 'CHOA CHU KANG CTRL',
       'CHOA CHU KANG NTH 7', 'CHOA CHU KANG ST 51',
       'CHOA CHU KANG ST 52', 'CHOA CHU KANG ST 53',
       'CHOA CHU KANG ST 62', 'CHOA CHU KANG NTH 5',
       'CHOA CHU KANG NTH 6', 'CLEMENTI WEST ST 1', 'CLEMENTI AVE 1',
       'CLEMENTI AVE 2', 'CLEMENTI AVE 3', 'CLEMENTI AVE 4',
       'CLEMENTI AVE 5', 'CLEMENTI WEST ST 2', 'WEST COAST DR',
       'WEST COAST RD', 'CLEMENTI ST 13', 'CLEMENTI AVE 6', 'CIRCUIT RD',
       'GEYLANG SERAI', 'JLN PASAR BARU', 'ALJUNIED CRES', 'EUNOS CRES',
       'HAIG RD', 'PAYA LEBAR WAY', 'SIMS DR', 'SIMS PL', 'DAKOTA CRES',
       'GEYLANG EAST AVE 1', 'PINE CL', 'UBI AVE 1', 'BALAM RD',
       'MACPHERSON LANE', 'ALJUNIED RD', 'GEYLANG EAST CTRL',
       'EUNOS RD 5', 'HOUGANG AVE 3', 'HOUGANG AVE 8', 'HOUGANG AVE 4',
       'HOUGANG AVE 5', 'HOUGANG AVE 1', 'HOUGANG AVE 10',
       'HOUGANG AVE 7', 'HOUGANG ST 51', 'HOUGANG ST 52', 'HOUGANG ST 61',
       'LOR AH SOO', 'HOUGANG AVE 2', 'HOUGANG ST 11', 'HOUGANG ST 22',
       'HOUGANG AVE 6', 'HOUGANG CTRL', 'HOUGANG ST 21', 'TEBAN GDNS RD',
       'JURONG EAST ST 32', 'JURONG EAST ST 13', 'JURONG EAST ST 21',
       'JURONG EAST ST 24', 'JURONG EAST AVE 1', 'PANDAN GDNS',
       'JURONG EAST ST 31', 'BOON LAY AVE', 'BOON LAY DR', 'BOON LAY PL',
       'HO CHING RD', 'YUNG KUANG RD', 'JURONG WEST AVE 1',
       'JURONG WEST ST 41', 'JURONG WEST ST 42', 'JURONG WEST ST 52',
       'JURONG WEST ST 91', 'JURONG WEST ST 92', 'JURONG WEST AVE 5',
       'JURONG WEST ST 71', 'JURONG WEST ST 72', 'JURONG WEST ST 73',
       'JURONG WEST ST 74', 'JURONG WEST ST 75', 'JURONG WEST ST 81',
       'YUNG AN RD', 'JLN BATU', 'BEACH RD', 'BENDEMEER RD',
       'CRAWFORD LANE', 'GEYLANG BAHRU', 'KALLANG BAHRU', 'LOR LIMAU',
       "ST. GEORGE'S RD", 'UPP BOON KENG RD', 'WHAMPOA DR',
       'WHAMPOA WEST', 'GLOUCESTER RD', 'JLN BAHAGIA', 'LOR 3 GEYLANG',
       'RACE COURSE RD', 'TOWNER RD', 'JLN RAJAH', 'KENT RD',
       "ST. GEORGE'S LANE", 'AH HOOD RD', "KING GEORGE'S AVE",
       'MCNAIR RD', 'WHAMPOA RD', 'MARINE TER', 'MARINE CRES',
       'MARINE DR', 'ELIAS RD', 'PASIR RIS DR 1', 'PASIR RIS DR 3',
       'PASIR RIS DR 4', 'PASIR RIS DR 6', 'PASIR RIS ST 11',
       'PASIR RIS ST 12', 'PASIR RIS ST 21', 'PASIR RIS ST 52',
       'PASIR RIS ST 53', 'PASIR RIS ST 71', 'PASIR RIS DR 10',
       'PASIR RIS ST 13', 'PASIR RIS ST 51', 'PASIR RIS ST 72',
       'PASIR RIS ST 41', "C'WEALTH CL", "C'WEALTH DR", 'TANGLIN HALT RD',
       'DOVER CRES', 'GHIM MOH RD', 'HOLLAND AVE', 'HOLLAND CL',
       'HOLLAND DR', 'MEI LING ST', 'STIRLING RD', 'DOVER RD',
       "C'WEALTH CRES", 'CLARENCE LANE', 'STRATHMORE AVE',
       'DOVER CL EAST', 'SELETAR WEST FARMWAY 6', 'LOR LEW LIAN',
       'SERANGOON AVE 2', 'SERANGOON NTH AVE 1', 'SERANGOON AVE 4',
       'SERANGOON CTRL', 'SERANGOON AVE 1', 'SERANGOON NTH AVE 4',
       'SERANGOON AVE 3', 'SERANGOON NTH AVE 2', 'TAMPINES ST 41',
       'TAMPINES AVE 4', 'TAMPINES ST 11', 'TAMPINES ST 12',
       'TAMPINES ST 21', 'TAMPINES ST 22', 'TAMPINES ST 23',
       'TAMPINES ST 24', 'TAMPINES ST 42', 'TAMPINES ST 44',
       'TAMPINES ST 82', 'TAMPINES ST 83', 'TAMPINES ST 84',
       'TAMPINES ST 91', 'TAMPINES ST 81', 'SIMEI RD', 'SIMEI ST 1',
       'SIMEI ST 4', 'TAMPINES AVE 5', 'TAMPINES AVE 8', 'TAMPINES AVE 9',
       'TAMPINES CTRL 1', 'TAMPINES ST 33', 'TAMPINES ST 34',
       'TAMPINES ST 45', 'SIMEI ST 2', 'TAMPINES AVE 7', 'TAMPINES ST 32',
       'TAMPINES ST 43', 'LOR 2 TOA PAYOH', 'KIM KEAT AVE',
       'LOR 1 TOA PAYOH', 'LOR 3 TOA PAYOH', 'LOR 4 TOA PAYOH',
       'LOR 5 TOA PAYOH', 'LOR 7 TOA PAYOH', 'LOR 8 TOA PAYOH',
       'TOA PAYOH EAST', 'TOA PAYOH NTH', 'POTONG PASIR AVE 1',
       'POTONG PASIR AVE 2', 'LOR 6 TOA PAYOH', 'UPP ALJUNIED LANE',
       'TOA PAYOH CTRL', 'JOO SENG RD', 'KIM KEAT LINK',
       'POTONG PASIR AVE 3', 'MARSILING DR', 'MARSILING LANE',
       'WOODLANDS ST 13', 'WOODLANDS ST 31', 'WOODLANDS AVE 1',
       'WOODLANDS ST 41', 'MARSILING RISE', 'WOODLANDS AVE 4',
       'WOODLANDS ST 81', 'WOODLANDS ST 82', 'WOODLANDS ST 83',
       'WOODLANDS ST 11', 'WOODLANDS ST 32', 'WOODLANDS AVE 9',
       'MARSILING RD', 'YISHUN AVE 11', 'YISHUN AVE 6', 'YISHUN CTRL',
       'YISHUN RING RD', 'YISHUN ST 11', 'YISHUN ST 22', 'YISHUN ST 61',
       'YISHUN ST 81', 'YISHUN AVE 5', 'YISHUN ST 21', 'YISHUN AVE 3',
       'YISHUN AVE 4', 'YISHUN ST 71', 'YISHUN AVE 7', 'YISHUN AVE 9',
       'YISHUN CTRL 1', 'YISHUN ST 72', 'YISHUN AVE 2', 'SILAT AVE',
       'LENGKOK BAHRU', 'JLN RUMAH TINGGI', 'CASHEW RD', 'NEW MKT RD',
       'SELEGIE RD', 'BAIN ST', 'CHOA CHU KANG LOOP', "C'WEALTH AVE WEST",
       'CASSIA CRES', 'OLD AIRPORT RD', 'UPP SERANGOON RD',
       'JURONG WEST ST 93', 'YUNG HO RD', 'YUNG PING RD', 'OWEN RD',
       "JLN MA'MOR", 'WHAMPOA STH', 'CAMBRIDGE RD', 'DORSET RD',
       "C'WEALTH AVE", 'MARGARET DR', "QUEEN'S CL", 'SERANGOON CTRL DR',
       'WOODLANDS CTR RD', 'MARSILING CRES', 'WOODLANDS AVE 3',
       'JLN DAMAI', 'INDUS RD', 'TIONG BAHRU RD', 'FARRER RD',
       'UPP CROSS ST', 'WATERLOO ST', 'BUFFALO RD', 'CLEMENTI ST 14',
       'JOO CHIAT RD', 'JLN DUA', 'PIPIT RD', 'YUNG LOH RD',
       'NTH BRIDGE RD', 'BOON KENG RD', 'TESSENSOHN RD', 'HENDERSON RD',
       'CHIN SWEE RD', 'JLN BERSEH', 'CHOA CHU KANG DR',
       'CHOA CHU KANG ST 54', 'KG KAYU RD', 'QUEENSWAY',
       'BT BATOK WEST AVE 7', 'REDHILL LANE', 'JURONG WEST ST 51',
       'FRENCH RD', 'LIM LIAK ST', 'SIMS AVE', 'KANG CHING RD',
       'TAH CHING RD', 'KG ARANG RD', 'JLN DUSUN', 'SIMEI ST 5',
       'WOODLANDS AVE 5', 'WOODLANDS DR 50', 'EAST COAST RD',
       'KIM PONG RD', 'TAO CHING RD', 'MOULMEIN RD', 'WOODLANDS DR 40',
       'BT MERAH LANE 1', 'MOH GUAN TER', 'KG BAHRU HILL', 'SMITH ST',
       'WOODLANDS DR 70', 'KIM CHENG ST', 'TAMPINES ST 71',
       'WOODLANDS DR 42', 'JLN TENTERAM', 'SERANGOON NTH AVE 3',
       'JELAPANG RD', 'BT BATOK ST 22', 'HOUGANG ST 91',
       'WOODLANDS AVE 6', 'TAMPINES ST 72', 'WOODLANDS CIRCLE',
       'CORPORATION DR', 'LOMPANG RD', 'WOODLANDS DR 72', 'SENG POH RD',
       'CHOA CHU KANG ST 64', 'BT BATOK ST 24', 'JLN TECK WHYE',
       'WOODLANDS CRES', 'WOODLANDS DR 60', 'CHANGI VILLAGE RD',
       'BT BATOK ST 25', 'HOUGANG AVE 9', 'JURONG WEST CTRL 1',
       'WOODLANDS RING RD', 'CHOA CHU KANG AVE 5', 'TOH GUAN RD',
       'JURONG WEST ST 61', 'WOODLANDS DR 14', 'HOUGANG ST 92',
       'CHOA CHU KANG CRES', 'SEMBAWANG CL', 'CANBERRA RD',
       'SEMBAWANG CRES', 'SEMBAWANG VISTA', 'COMPASSVALE WALK',
       'RIVERVALE ST', 'WOODLANDS DR 62', 'SEMBAWANG DR',
       'WOODLANDS DR 53', 'WOODLANDS DR 52', 'RIVERVALE WALK',
       'COMPASSVALE LANE', 'RIVERVALE DR', 'SENJA RD',
       'JURONG WEST ST 65', 'RIVERVALE CRES', 'WOODLANDS DR 44',
       'COMPASSVALE DR', 'WOODLANDS DR 16', 'COMPASSVALE RD',
       'WOODLANDS DR 73', 'HOUGANG ST 31', 'JURONG WEST ST 64',
       'GEYLANG EAST AVE 2', 'WOODLANDS DR 71', 'YISHUN ST 20',
       'ADMIRALTY DR', 'COMPASSVALE ST', 'BEDOK RESERVOIR VIEW',
       'YUNG SHENG RD', 'ADMIRALTY LINK', 'SENGKANG EAST WAY',
       'ANG MO KIO ST 32', 'ANG MO KIO ST 52', 'BOON TIONG RD',
       'JURONG WEST ST 62', 'ANCHORVALE LINK', 'CANBERRA LINK',
       'COMPASSVALE CRES', 'CLEMENTI ST 12', 'MONTREAL DR',
       'WELLINGTON CIRCLE', 'SENGKANG EAST RD', 'JURONG WEST AVE 3',
       'ANCHORVALE LANE', 'REDHILL RD', 'SENJA LINK', 'EDGEFIELD PLAINS',
       'ANCHORVALE DR', 'SEGAR RD', 'FARRER PK RD', 'PUNGGOL FIELD',
       'EDGEDALE PLAINS', 'ANCHORVALE RD', 'CANTONMENT CL', 'JLN MEMBINA',
       'FERNVALE LANE', 'JURONG WEST ST 25', 'CLEMENTI ST 11',
       'PUNGGOL FIELD WALK', 'KLANG LANE', 'PUNGGOL CTRL', 'JELEBU RD',
       'BUANGKOK CRES', 'WOODLANDS DR 75', 'BT BATOK WEST AVE 5',
       'JELLICOE RD', 'PUNGGOL DR', 'JURONG WEST ST 24', 'SEMBAWANG WAY',
       'FERNVALE RD', 'BUANGKOK LINK', 'FERNVALE LINK', 'JLN TIGA',
       'YUAN CHING RD', 'COMPASSVALE LINK', 'LOWER DELTA RD',
       'MARINE PARADE CTRL', 'COMPASSVALE BOW', 'PUNGGOL RD',
       'BEDOK CTRL', 'PUNGGOL EAST', 'SENGKANG CTRL', 'HILLVIEW AVE',
       'OUTRAM PK', 'SHORT ST', 'HU CHING RD', 'LIM CHU KANG RD',
       'NILE RD', 'JLN MEMBINA BARAT', 'BUANGKOK STH FARMWAY 1',
       'ALEXANDRA RD', 'SEMBAWANG RD', 'OUTRAM HILL', 'CANTONMENT RD',
       'PUNGGOL PL', 'SENGKANG WEST AVE', 'TAMPINES CTRL 7',
       'GHIM MOH LINK', 'SIMEI LANE', 'YISHUN ST 41',
       'TELOK BLANGAH ST 31', 'JLN KAYU', 'LOR 1A TOA PAYOH',
       'PUNGGOL WALK', 'SENGKANG WEST WAY', 'BUANGKOK GREEN',
       'PUNGGOL WAY', 'YISHUN ST 31', 'TECK WHYE CRES', 'MONTREAL LINK',
       'UPP SERANGOON CRES', 'SUMANG LINK', 'SENGKANG EAST AVE',
       'YISHUN AVE 1', 'ANCHORVALE CRES', 'ANCHORVALE ST',
       'TAMPINES CTRL 8', 'YISHUN ST 51', 'UPP SERANGOON VIEW',
       'TAMPINES AVE 1', 'BEDOK RESERVOIR CRES', 'ANG MO KIO ST 61',
       'DAWSON RD', 'FERNVALE ST', 'HOUGANG ST 32', 'TAMPINES ST 86',
       'SUMANG WALK', 'CHOA CHU KANG AVE 7', 'KEAT HONG CL',
       'JURONG WEST CTRL 3', 'KEAT HONG LINK', 'ALJUNIED AVE 2',
       'CANBERRA CRES', 'SUMANG LANE', 'CANBERRA ST', 'ANG MO KIO ST 44',
       'WOODLANDS RISE', 'CANBERRA WALK', 'ANG MO KIO ST 51',
       'BT BATOK EAST AVE 6', 'BT BATOK WEST AVE 9'], dtype=object)

In [10]:
# map the streets to povide input to ML model
streets_mapping = {street: idx + 1 for idx, street in enumerate(streets)}
streets_mapping

{'ANG MO KIO AVE 4': 1,
 'ANG MO KIO AVE 1': 2,
 'ANG MO KIO AVE 10': 3,
 'ANG MO KIO AVE 2': 4,
 'ANG MO KIO AVE 3': 5,
 'ANG MO KIO AVE 5': 6,
 'ANG MO KIO AVE 6': 7,
 'ANG MO KIO AVE 8': 8,
 'ANG MO KIO AVE 9': 9,
 'ANG MO KIO ST 21': 10,
 'ANG MO KIO ST 31': 11,
 'ANG MO KIO ST 11': 12,
 'BEDOK RESERVOIR RD': 13,
 'BEDOK NTH RD': 14,
 'BEDOK NTH ST 3': 15,
 'BEDOK STH AVE 1': 16,
 'BEDOK STH RD': 17,
 'CHAI CHEE AVE': 18,
 'NEW UPP CHANGI RD': 19,
 'CHAI CHEE DR': 20,
 'CHAI CHEE RD': 21,
 'BEDOK NTH AVE 1': 22,
 'BEDOK NTH AVE 2': 23,
 'BEDOK NTH AVE 3': 24,
 'BEDOK NTH AVE 4': 25,
 'BEDOK NTH ST 1': 26,
 'BEDOK NTH ST 2': 27,
 'BEDOK NTH ST 4': 28,
 'BEDOK STH AVE 2': 29,
 'BEDOK STH AVE 3': 30,
 'CHAI CHEE ST': 31,
 'LENGKONG TIGA': 32,
 'JLN TENAGA': 33,
 'SIN MING RD': 34,
 'SHUNFU RD': 35,
 'BISHAN ST 11': 36,
 'BISHAN ST 12': 37,
 'BISHAN ST 13': 38,
 'SIN MING AVE': 39,
 'BISHAN ST 22': 40,
 'BISHAN ST 23': 41,
 'BISHAN ST 24': 42,
 'BRIGHT HILL DR': 43,
 'BT BATOK ST 51': 44,
 'BT BATOK ST 52': 45,
 'BT BATOK ST 11': 46,
 'BT BATOK ST 21': 47,
 'BT BATOK ST 34': 48,
 'BT BATOK WEST AVE 4': 49,
 'BT BATOK WEST AVE 8': 50,
 'BT BATOK EAST AVE 4': 51,
 'BT BATOK EAST AVE 5': 52,
 'BT BATOK ST 31': 53,
 'BT BATOK ST 32': 54,
 'BT BATOK ST 33': 55,
 'BT BATOK WEST AVE 6': 56,
 'BT BATOK EAST AVE 3': 57,
 'BT BATOK CTRL': 58,
 'BT BATOK WEST AVE 2': 59,
 'TAMAN HO SWEE': 60,
 'TELOK BLANGAH CRES': 61,
 'HOY FATT RD': 62,
 'BT MERAH VIEW': 63,
 'JLN BT MERAH': 64,
 'KIM TIAN RD': 65,
 'TELOK BLANGAH DR': 66,
 'TELOK BLANGAH RISE': 67,
 'TELOK BLANGAH WAY': 68,
 'ZION RD': 69,
 'BT PURMEI RD': 70,
 'TELOK BLANGAH HTS': 71,
 'BEO CRES': 72,
 'HAVELOCK RD': 73,
 'JLN BT HO SWEE': 74,
 'JLN KLINIK': 75,
 'REDHILL CL': 76,
 'HENDERSON CRES': 77,
 'BT MERAH CTRL': 78,
 'DELTA AVE': 79,
 'EVERTON PK': 80,
 'KIM TIAN PL': 81,
 'DEPOT RD': 82,
 'SPOTTISWOODE PK RD': 83,
 'GANGSA RD': 84,
 'PENDING RD': 85,
 'PETIR RD': 86,
 'BANGKIT RD': 87,
 'BT PANJANG RING RD': 88,
 'FAJAR RD': 89,
 'SAUJANA RD': 90,
 'EMPRESS RD': 91,
 "QUEEN'S RD": 92,
 'TOH YI DR': 93,
 'JLN KUKOH': 94,
 'KELANTAN RD': 95,
 'SAGO LANE': 96,
 'TG PAGAR PLAZA': 97,
 'CHANDER RD': 98,
 'ROWELL RD': 99,
 'VEERASAMY RD': 100,
 'QUEEN ST': 101,
 'ROCHOR RD': 102,
 'KRETA AYER RD': 103,
 'TECK WHYE AVE': 104,
 'TECK WHYE LANE': 105,
 'CHOA CHU KANG AVE 1': 106,
 'CHOA CHU KANG AVE 2': 107,
 'CHOA CHU KANG AVE 3': 108,
 'CHOA CHU KANG AVE 4': 109,
 'CHOA CHU KANG CTRL': 110,
 'CHOA CHU KANG NTH 7': 111,
 'CHOA CHU KANG ST 51': 112,
 'CHOA CHU KANG ST 52': 113,
 'CHOA CHU KANG ST 53': 114,
 'CHOA CHU KANG ST 62': 115,
 'CHOA CHU KANG NTH 5': 116,
 'CHOA CHU KANG NTH 6': 117,
 'CLEMENTI WEST ST 1': 118,
 'CLEMENTI AVE 1': 119,
 'CLEMENTI AVE 2': 120,
 'CLEMENTI AVE 3': 121,
 'CLEMENTI AVE 4': 122,
 'CLEMENTI AVE 5': 123,
 'CLEMENTI WEST ST 2': 124,
 'WEST COAST DR': 125,
 'WEST COAST RD': 126,
 'CLEMENTI ST 13': 127,
 'CLEMENTI AVE 6': 128,
 'CIRCUIT RD': 129,
 'GEYLANG SERAI': 130,
 'JLN PASAR BARU': 131,
 'ALJUNIED CRES': 132,
 'EUNOS CRES': 133,
 'HAIG RD': 134,
 'PAYA LEBAR WAY': 135,
 'SIMS DR': 136,
 'SIMS PL': 137,
 'DAKOTA CRES': 138,
 'GEYLANG EAST AVE 1': 139,
 'PINE CL': 140,
 'UBI AVE 1': 141,
 'BALAM RD': 142,
 'MACPHERSON LANE': 143,
 'ALJUNIED RD': 144,
 'GEYLANG EAST CTRL': 145,
 'EUNOS RD 5': 146,
 'HOUGANG AVE 3': 147,
 'HOUGANG AVE 8': 148,
 'HOUGANG AVE 4': 149,
 'HOUGANG AVE 5': 150,
 'HOUGANG AVE 1': 151,
 'HOUGANG AVE 10': 152,
 'HOUGANG AVE 7': 153,
 'HOUGANG ST 51': 154,
 'HOUGANG ST 52': 155,
 'HOUGANG ST 61': 156,
 'LOR AH SOO': 157,
 'HOUGANG AVE 2': 158,
 'HOUGANG ST 11': 159,
 'HOUGANG ST 22': 160,
 'HOUGANG AVE 6': 161,
 'HOUGANG CTRL': 162,
 'HOUGANG ST 21': 163,
 'TEBAN GDNS RD': 164,
 'JURONG EAST ST 32': 165,
 'JURONG EAST ST 13': 166,
 'JURONG EAST ST 21': 167,
 'JURONG EAST ST 24': 168,
 'JURONG EAST AVE 1': 169,
 'PANDAN GDNS': 170,
 'JURONG EAST ST 31': 171,
 'BOON LAY AVE': 172,
 'BOON LAY DR': 173,
 'BOON LAY PL': 174,
 'HO CHING RD': 175,
 'YUNG KUANG RD': 176,
 'JURONG WEST AVE 1': 177,
 'JURONG WEST ST 41': 178,
 'JURONG WEST ST 42': 179,
 'JURONG WEST ST 52': 180,
 'JURONG WEST ST 91': 181,
 'JURONG WEST ST 92': 182,
 'JURONG WEST AVE 5': 183,
 'JURONG WEST ST 71': 184,
 'JURONG WEST ST 72': 185,
 'JURONG WEST ST 73': 186,
 'JURONG WEST ST 74': 187,
 'JURONG WEST ST 75': 188,
 'JURONG WEST ST 81': 189,
 'YUNG AN RD': 190,
 'JLN BATU': 191,
 'BEACH RD': 192,
 'BENDEMEER RD': 193,
 'CRAWFORD LANE': 194,
 'GEYLANG BAHRU': 195,
 'KALLANG BAHRU': 196,
 'LOR LIMAU': 197,
 "ST. GEORGE'S RD": 198,
 'UPP BOON KENG RD': 199,
 'WHAMPOA DR': 200,
 'WHAMPOA WEST': 201,
 'GLOUCESTER RD': 202,
 'JLN BAHAGIA': 203,
 'LOR 3 GEYLANG': 204,
 'RACE COURSE RD': 205,
 'TOWNER RD': 206,
 'JLN RAJAH': 207,
 'KENT RD': 208,
 "ST. GEORGE'S LANE": 209,
 'AH HOOD RD': 210,
 "KING GEORGE'S AVE": 211,
 'MCNAIR RD': 212,
 'WHAMPOA RD': 213,
 'MARINE TER': 214,
 'MARINE CRES': 215,
 'MARINE DR': 216,
 'ELIAS RD': 217,
 'PASIR RIS DR 1': 218,
 'PASIR RIS DR 3': 219,
 'PASIR RIS DR 4': 220,
 'PASIR RIS DR 6': 221,
 'PASIR RIS ST 11': 222,
 'PASIR RIS ST 12': 223,
 'PASIR RIS ST 21': 224,
 'PASIR RIS ST 52': 225,
 'PASIR RIS ST 53': 226,
 'PASIR RIS ST 71': 227,
 'PASIR RIS DR 10': 228,
 'PASIR RIS ST 13': 229,
 'PASIR RIS ST 51': 230,
 'PASIR RIS ST 72': 231,
 'PASIR RIS ST 41': 232,
 "C'WEALTH CL": 233,
 "C'WEALTH DR": 234,
 'TANGLIN HALT RD': 235,
 'DOVER CRES': 236,
 'GHIM MOH RD': 237,
 'HOLLAND AVE': 238,
 'HOLLAND CL': 239,
 'HOLLAND DR': 240,
 'MEI LING ST': 241,
 'STIRLING RD': 242,
 'DOVER RD': 243,
 "C'WEALTH CRES": 244,
 'CLARENCE LANE': 245,
 'STRATHMORE AVE': 246,
 'DOVER CL EAST': 247,
 'SELETAR WEST FARMWAY 6': 248,
 'LOR LEW LIAN': 249,
 'SERANGOON AVE 2': 250,
 'SERANGOON NTH AVE 1': 251,
 'SERANGOON AVE 4': 252,
 'SERANGOON CTRL': 253,
 'SERANGOON AVE 1': 254,
 'SERANGOON NTH AVE 4': 255,
 'SERANGOON AVE 3': 256,
 'SERANGOON NTH AVE 2': 257,
 'TAMPINES ST 41': 258,
 'TAMPINES AVE 4': 259,
 'TAMPINES ST 11': 260,
 'TAMPINES ST 12': 261,
 'TAMPINES ST 21': 262,
 'TAMPINES ST 22': 263,
 'TAMPINES ST 23': 264,
 'TAMPINES ST 24': 265,
 'TAMPINES ST 42': 266,
 'TAMPINES ST 44': 267,
 'TAMPINES ST 82': 268,
 'TAMPINES ST 83': 269,
 'TAMPINES ST 84': 270,
 'TAMPINES ST 91': 271,
 'TAMPINES ST 81': 272,
 'SIMEI RD': 273,
 'SIMEI ST 1': 274,
 'SIMEI ST 4': 275,
 'TAMPINES AVE 5': 276,
 'TAMPINES AVE 8': 277,
 'TAMPINES AVE 9': 278,
 'TAMPINES CTRL 1': 279,
 'TAMPINES ST 33': 280,
 'TAMPINES ST 34': 281,
 'TAMPINES ST 45': 282,
 'SIMEI ST 2': 283,
 'TAMPINES AVE 7': 284,
 'TAMPINES ST 32': 285,
 'TAMPINES ST 43': 286,
 'LOR 2 TOA PAYOH': 287,
 'KIM KEAT AVE': 288,
 'LOR 1 TOA PAYOH': 289,
 'LOR 3 TOA PAYOH': 290,
 'LOR 4 TOA PAYOH': 291,
 'LOR 5 TOA PAYOH': 292,
 'LOR 7 TOA PAYOH': 293,
 'LOR 8 TOA PAYOH': 294,
 'TOA PAYOH EAST': 295,
 'TOA PAYOH NTH': 296,
 'POTONG PASIR AVE 1': 297,
 'POTONG PASIR AVE 2': 298,
 'LOR 6 TOA PAYOH': 299,
 'UPP ALJUNIED LANE': 300,
 'TOA PAYOH CTRL': 301,
 'JOO SENG RD': 302,
 'KIM KEAT LINK': 303,
 'POTONG PASIR AVE 3': 304,
 'MARSILING DR': 305,
 'MARSILING LANE': 306,
 'WOODLANDS ST 13': 307,
 'WOODLANDS ST 31': 308,
 'WOODLANDS AVE 1': 309,
 'WOODLANDS ST 41': 310,
 'MARSILING RISE': 311,
 'WOODLANDS AVE 4': 312,
 'WOODLANDS ST 81': 313,
 'WOODLANDS ST 82': 314,
 'WOODLANDS ST 83': 315,
 'WOODLANDS ST 11': 316,
 'WOODLANDS ST 32': 317,
 'WOODLANDS AVE 9': 318,
 'MARSILING RD': 319,
 'YISHUN AVE 11': 320,
 'YISHUN AVE 6': 321,
 'YISHUN CTRL': 322,
 'YISHUN RING RD': 323,
 'YISHUN ST 11': 324,
 'YISHUN ST 22': 325,
 'YISHUN ST 61': 326,
 'YISHUN ST 81': 327,
 'YISHUN AVE 5': 328,
 'YISHUN ST 21': 329,
 'YISHUN AVE 3': 330,
 'YISHUN AVE 4': 331,
 'YISHUN ST 71': 332,
 'YISHUN AVE 7': 333,
 'YISHUN AVE 9': 334,
 'YISHUN CTRL 1': 335,
 'YISHUN ST 72': 336,
 'YISHUN AVE 2': 337,
 'SILAT AVE': 338,
 'LENGKOK BAHRU': 339,
 'JLN RUMAH TINGGI': 340,
 'CASHEW RD': 341,
 'NEW MKT RD': 342,
 'SELEGIE RD': 343,
 'BAIN ST': 344,
 'CHOA CHU KANG LOOP': 345,
 "C'WEALTH AVE WEST": 346,
 'CASSIA CRES': 347,
 'OLD AIRPORT RD': 348,
 'UPP SERANGOON RD': 349,
 'JURONG WEST ST 93': 350,
 'YUNG HO RD': 351,
 'YUNG PING RD': 352,
 'OWEN RD': 353,
 "JLN MA'MOR": 354,
 'WHAMPOA STH': 355,
 'CAMBRIDGE RD': 356,
 'DORSET RD': 357,
 "C'WEALTH AVE": 358,
 'MARGARET DR': 359,
 "QUEEN'S CL": 360,
 'SERANGOON CTRL DR': 361,
 'WOODLANDS CTR RD': 362,
 'MARSILING CRES': 363,
 'WOODLANDS AVE 3': 364,
 'JLN DAMAI': 365,
 'INDUS RD': 366,
 'TIONG BAHRU RD': 367,
 'FARRER RD': 368,
 'UPP CROSS ST': 369,
 'WATERLOO ST': 370,
 'BUFFALO RD': 371,
 'CLEMENTI ST 14': 372,
 'JOO CHIAT RD': 373,
 'JLN DUA': 374,
 'PIPIT RD': 375,
 'YUNG LOH RD': 376,
 'NTH BRIDGE RD': 377,
 'BOON KENG RD': 378,
 'TESSENSOHN RD': 379,
 'HENDERSON RD': 380,
 'CHIN SWEE RD': 381,
 'JLN BERSEH': 382,
 'CHOA CHU KANG DR': 383,
 'CHOA CHU KANG ST 54': 384,
 'KG KAYU RD': 385,
 'QUEENSWAY': 386,
 'BT BATOK WEST AVE 7': 387,
 'REDHILL LANE': 388,
 'JURONG WEST ST 51': 389,
 'FRENCH RD': 390,
 'LIM LIAK ST': 391,
 'SIMS AVE': 392,
 'KANG CHING RD': 393,
 'TAH CHING RD': 394,
 'KG ARANG RD': 395,
 'JLN DUSUN': 396,
 'SIMEI ST 5': 397,
 'WOODLANDS AVE 5': 398,
 'WOODLANDS DR 50': 399,
 'EAST COAST RD': 400,
 'KIM PONG RD': 401,
 'TAO CHING RD': 402,
 'MOULMEIN RD': 403,
 'WOODLANDS DR 40': 404,
 'BT MERAH LANE 1': 405,
 'MOH GUAN TER': 406,
 'KG BAHRU HILL': 407,
 'SMITH ST': 408,
 'WOODLANDS DR 70': 409,
 'KIM CHENG ST': 410,
 'TAMPINES ST 71': 411,
 'WOODLANDS DR 42': 412,
 'JLN TENTERAM': 413,
 'SERANGOON NTH AVE 3': 414,
 'JELAPANG RD': 415,
 'BT BATOK ST 22': 416,
 'HOUGANG ST 91': 417,
 'WOODLANDS AVE 6': 418,
 'TAMPINES ST 72': 419,
 'WOODLANDS CIRCLE': 420,
 'CORPORATION DR': 421,
 'LOMPANG RD': 422,
 'WOODLANDS DR 72': 423,
 'SENG POH RD': 424,
 'CHOA CHU KANG ST 64': 425,
 'BT BATOK ST 24': 426,
 'JLN TECK WHYE': 427,
 'WOODLANDS CRES': 428,
 'WOODLANDS DR 60': 429,
 'CHANGI VILLAGE RD': 430,
 'BT BATOK ST 25': 431,
 'HOUGANG AVE 9': 432,
 'JURONG WEST CTRL 1': 433,
 'WOODLANDS RING RD': 434,
 'CHOA CHU KANG AVE 5': 435,
 'TOH GUAN RD': 436,
 'JURONG WEST ST 61': 437,
 'WOODLANDS DR 14': 438,
 'HOUGANG ST 92': 439,
 'CHOA CHU KANG CRES': 440,
 'SEMBAWANG CL': 441,
 'CANBERRA RD': 442,
 'SEMBAWANG CRES': 443,
 'SEMBAWANG VISTA': 444,
 'COMPASSVALE WALK': 445,
 'RIVERVALE ST': 446,
 'WOODLANDS DR 62': 447,
 'SEMBAWANG DR': 448,
 'WOODLANDS DR 53': 449,
 'WOODLANDS DR 52': 450,
 'RIVERVALE WALK': 451,
 'COMPASSVALE LANE': 452,
 'RIVERVALE DR': 453,
 'SENJA RD': 454,
 'JURONG WEST ST 65': 455,
 'RIVERVALE CRES': 456,
 'WOODLANDS DR 44': 457,
 'COMPASSVALE DR': 458,
 'WOODLANDS DR 16': 459,
 'COMPASSVALE RD': 460,
 'WOODLANDS DR 73': 461,
 'HOUGANG ST 31': 462,
 'JURONG WEST ST 64': 463,
 'GEYLANG EAST AVE 2': 464,
 'WOODLANDS DR 71': 465,
 'YISHUN ST 20': 466,
 'ADMIRALTY DR': 467,
 'COMPASSVALE ST': 468,
 'BEDOK RESERVOIR VIEW': 469,
 'YUNG SHENG RD': 470,
 'ADMIRALTY LINK': 471,
 'SENGKANG EAST WAY': 472,
 'ANG MO KIO ST 32': 473,
 'ANG MO KIO ST 52': 474,
 'BOON TIONG RD': 475,
 'JURONG WEST ST 62': 476,
 'ANCHORVALE LINK': 477,
 'CANBERRA LINK': 478,
 'COMPASSVALE CRES': 479,
 'CLEMENTI ST 12': 480,
 'MONTREAL DR': 481,
 'WELLINGTON CIRCLE': 482,
 'SENGKANG EAST RD': 483,
 'JURONG WEST AVE 3': 484,
 'ANCHORVALE LANE': 485,
 'REDHILL RD': 486,
 'SENJA LINK': 487,
 'EDGEFIELD PLAINS': 488,
 'ANCHORVALE DR': 489,
 'SEGAR RD': 490,
 'FARRER PK RD': 491,
 'PUNGGOL FIELD': 492,
 'EDGEDALE PLAINS': 493,
 'ANCHORVALE RD': 494,
 'CANTONMENT CL': 495,
 'JLN MEMBINA': 496,
 'FERNVALE LANE': 497,
 'JURONG WEST ST 25': 498,
 'CLEMENTI ST 11': 499,
 'PUNGGOL FIELD WALK': 500,
 'KLANG LANE': 501,
 'PUNGGOL CTRL': 502,
 'JELEBU RD': 503,
 'BUANGKOK CRES': 504,
 'WOODLANDS DR 75': 505,
 'BT BATOK WEST AVE 5': 506,
 'JELLICOE RD': 507,
 'PUNGGOL DR': 508,
 'JURONG WEST ST 24': 509,
 'SEMBAWANG WAY': 510,
 'FERNVALE RD': 511,
 'BUANGKOK LINK': 512,
 'FERNVALE LINK': 513,
 'JLN TIGA': 514,
 'YUAN CHING RD': 515,
 'COMPASSVALE LINK': 516,
 'LOWER DELTA RD': 517,
 'MARINE PARADE CTRL': 518,
 'COMPASSVALE BOW': 519,
 'PUNGGOL RD': 520,
 'BEDOK CTRL': 521,
 'PUNGGOL EAST': 522,
 'SENGKANG CTRL': 523,
 'HILLVIEW AVE': 524,
 'OUTRAM PK': 525,
 'SHORT ST': 526,
 'HU CHING RD': 527,
 'LIM CHU KANG RD': 528,
 'NILE RD': 529,
 'JLN MEMBINA BARAT': 530,
 'BUANGKOK STH FARMWAY 1': 531,
 'ALEXANDRA RD': 532,
 'SEMBAWANG RD': 533,
 'OUTRAM HILL': 534,
 'CANTONMENT RD': 535,
 'PUNGGOL PL': 536,
 'SENGKANG WEST AVE': 537,
 'TAMPINES CTRL 7': 538,
 'GHIM MOH LINK': 539,
 'SIMEI LANE': 540,
 'YISHUN ST 41': 541,
 'TELOK BLANGAH ST 31': 542,
 'JLN KAYU': 543,
 'LOR 1A TOA PAYOH': 544,
 'PUNGGOL WALK': 545,
 'SENGKANG WEST WAY': 546,
 'BUANGKOK GREEN': 547,
 'PUNGGOL WAY': 548,
 'YISHUN ST 31': 549,
 'TECK WHYE CRES': 550,
 'MONTREAL LINK': 551,
 'UPP SERANGOON CRES': 552,
 'SUMANG LINK': 553,
 'SENGKANG EAST AVE': 554,
 'YISHUN AVE 1': 555,
 'ANCHORVALE CRES': 556,
 'ANCHORVALE ST': 557,
 'TAMPINES CTRL 8': 558,
 'YISHUN ST 51': 559,
 'UPP SERANGOON VIEW': 560,
 'TAMPINES AVE 1': 561,
 'BEDOK RESERVOIR CRES': 562,
 'ANG MO KIO ST 61': 563,
 'DAWSON RD': 564,
 'FERNVALE ST': 565,
 'HOUGANG ST 32': 566,
 'TAMPINES ST 86': 567,
 'SUMANG WALK': 568,
 'CHOA CHU KANG AVE 7': 569,
 'KEAT HONG CL': 570,
 'JURONG WEST CTRL 3': 571,
 'KEAT HONG LINK': 572,
 'ALJUNIED AVE 2': 573,
 'CANBERRA CRES': 574,
 'SUMANG LANE': 575,
 'CANBERRA ST': 576,
 'ANG MO KIO ST 44': 577,
 'WOODLANDS RISE': 578,
 'CANBERRA WALK': 579,
 'ANG MO KIO ST 51': 580,
 'BT BATOK EAST AVE 6': 581,
 'BT BATOK WEST AVE 9': 582}

In [11]:
# alter the column with the mapped numbers
combined_df['street_name'] = combined_df['street_name'].map(streets_mapping)

# Display the DataFrame
combined_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,2000-01,ANG MO KIO,3 ROOM,170,1,07 TO 09,69.0,Improved,1986,147000.0,NaN
1,2000-01,ANG MO KIO,3 ROOM,174,1,04 TO 06,61.0,Improved,1986,144000.0,NaN
2,2000-01,ANG MO KIO,3 ROOM,216,2,07 TO 09,73.0,New Generation,1976,159000.0,NaN
3,2000-01,ANG MO KIO,3 ROOM,215,2,07 TO 09,73.0,New Generation,1976,167000.0,NaN
4,2000-01,ANG MO KIO,3 ROOM,218,2,07 TO 09,67.0,New Generation,1976,163000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
911590,2014-12,YISHUN,5 ROOM,816,327,10 TO 12,122.0,Improved,1988,580000.0,NaN
911591,2014-12,YISHUN,EXECUTIVE,325,322,10 TO 12,146.0,Maisonette,1988,540000.0,NaN
911592,2014-12,YISHUN,EXECUTIVE,618,323,07 TO 09,164.0,Apartment,1992,738000.0,NaN
911593,2014-12,YISHUN,EXECUTIVE,277,325,07 TO 09,152.0,Maisonette,1985,592000.0,NaN
911594,2014-12,YISHUN,EXECUTIVE,277,325,04 TO 06,146.0,Maisonette,1985,545000.0,NaN

In [12]:
# function to convert the years and months to years in decimal
def convert_to_years(row):
    if pd.notna(row):
        if isinstance(row, str):
            if 'years' in row:
                parts = row.split()
                years = float(parts[0])
                if len(parts) > 2:  # If there's a month part as well
                    months = float(parts[2])
                    return years + months / 12
                else:
                    return years
        else:
          return row
    return row

In [13]:
# Apply the conversion function to the DataFrame column
combined_df['remaining_lease'] = combined_df['remaining_lease'].apply(convert_to_years)
combined_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,2000-01,ANG MO KIO,3 ROOM,170,1,07 TO 09,69.0,Improved,1986,147000.0,NaN
1,2000-01,ANG MO KIO,3 ROOM,174,1,04 TO 06,61.0,Improved,1986,144000.0,NaN
2,2000-01,ANG MO KIO,3 ROOM,216,2,07 TO 09,73.0,New Generation,1976,159000.0,NaN
3,2000-01,ANG MO KIO,3 ROOM,215,2,07 TO 09,73.0,New Generation,1976,167000.0,NaN
4,2000-01,ANG MO KIO,3 ROOM,218,2,07 TO 09,67.0,New Generation,1976,163000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
911590,2014-12,YISHUN,5 ROOM,816,327,10 TO 12,122.0,Improved,1988,580000.0,NaN
911591,2014-12,YISHUN,EXECUTIVE,325,322,10 TO 12,146.0,Maisonette,1988,540000.0,NaN
911592,2014-12,YISHUN,EXECUTIVE,618,323,07 TO 09,164.0,Apartment,1992,738000.0,NaN
911593,2014-12,YISHUN,EXECUTIVE,277,325,07 TO 09,152.0,Maisonette,1985,592000.0,NaN
911594,2014-12,YISHUN,EXECUTIVE,277,325,04 TO 06,146.0,Maisonette,1985,545000.0,NaN

In [14]:
# fill null values in remaining_lease with its mode
combined_df['remaining_lease']= combined_df['remaining_lease'].fillna(combined_df['remaining_lease'].mode()[0])
combined_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,2000-01,ANG MO KIO,3 ROOM,170,1,07 TO 09,69.0,Improved,1986,147000.0,68.0
1,2000-01,ANG MO KIO,3 ROOM,174,1,04 TO 06,61.0,Improved,1986,144000.0,68.0
2,2000-01,ANG MO KIO,3 ROOM,216,2,07 TO 09,73.0,New Generation,1976,159000.0,68.0
3,2000-01,ANG MO KIO,3 ROOM,215,2,07 TO 09,73.0,New Generation,1976,167000.0,68.0
4,2000-01,ANG MO KIO,3 ROOM,218,2,07 TO 09,67.0,New Generation,1976,163000.0,68.0
...,...,...,...,...,...,...,...,...,...,...,...
911590,2014-12,YISHUN,5 ROOM,816,327,10 TO 12,122.0,Improved,1988,580000.0,68.0
911591,2014-12,YISHUN,EXECUTIVE,325,322,10 TO 12,146.0,Maisonette,1988,540000.0,68.0
911592,2014-12,YISHUN,EXECUTIVE,618,323,07 TO 09,164.0,Apartment,1992,738000.0,68.0
911593,2014-12,YISHUN,EXECUTIVE,277,325,07 TO 09,152.0,Maisonette,1985,592000.0,68.0
911594,2014-12,YISHUN,EXECUTIVE,277,325,04 TO 06,146.0,Maisonette,1985,545000.0,68.0

In [15]:
# Split the 'Range' column into lower and upper bounds
combined_df[['storey_lower_bound', 'storey_upper_bound']] = combined_df['storey_range'].str.split(' TO ', expand=True)

# Convert the lower and upper bounds to numeric values
combined_df['storey_lower_bound'] = pd.to_numeric(combined_df['storey_lower_bound'])
combined_df['storey_upper_bound'] = pd.to_numeric(combined_df['storey_upper_bound'])

combined_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_lower_bound,storey_upper_bound
0,2000-01,ANG MO KIO,3 ROOM,170,1,07 TO 09,69.0,Improved,1986,147000.0,68.0,7,9
1,2000-01,ANG MO KIO,3 ROOM,174,1,04 TO 06,61.0,Improved,1986,144000.0,68.0,4,6
2,2000-01,ANG MO KIO,3 ROOM,216,2,07 TO 09,73.0,New Generation,1976,159000.0,68.0,7,9
3,2000-01,ANG MO KIO,3 ROOM,215,2,07 TO 09,73.0,New Generation,1976,167000.0,68.0,7,9
4,2000-01,ANG MO KIO,3 ROOM,218,2,07 TO 09,67.0,New Generation,1976,163000.0,68.0,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
911590,2014-12,YISHUN,5 ROOM,816,327,10 TO 12,122.0,Improved,1988,580000.0,68.0,10,12
911591,2014-12,YISHUN,EXECUTIVE,325,322,10 TO 12,146.0,Maisonette,1988,540000.0,68.0,10,12
911592,2014-12,YISHUN,EXECUTIVE,618,323,07 TO 09,164.0,Apartment,1992,738000.0,68.0,7,9
911593,2014-12,YISHUN,EXECUTIVE,277,325,07 TO 09,152.0,Maisonette,1985,592000.0,68.0,7,9
911594,2014-12,YISHUN,EXECUTIVE,277,325,04 TO 06,146.0,Maisonette,1985,545000.0,68.0,4,6

In [16]:
# drop storey range column
combined_df.drop('storey_range', axis=1, inplace=True)
combined_df

,month,town,flat_type,block,street_name,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_lower_bound,storey_upper_bound
0,2000-01,ANG MO KIO,3 ROOM,170,1,69.0,Improved,1986,147000.0,68.0,7,9
1,2000-01,ANG MO KIO,3 ROOM,174,1,61.0,Improved,1986,144000.0,68.0,4,6
2,2000-01,ANG MO KIO,3 ROOM,216,2,73.0,New Generation,1976,159000.0,68.0,7,9
3,2000-01,ANG MO KIO,3 ROOM,215,2,73.0,New Generation,1976,167000.0,68.0,7,9
4,2000-01,ANG MO KIO,3 ROOM,218,2,67.0,New Generation,1976,163000.0,68.0,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...
911590,2014-12,YISHUN,5 ROOM,816,327,122.0,Improved,1988,580000.0,68.0,10,12
911591,2014-12,YISHUN,EXECUTIVE,325,322,146.0,Maisonette,1988,540000.0,68.0,10,12
911592,2014-12,YISHUN,EXECUTIVE,618,323,164.0,Apartment,1992,738000.0,68.0,7,9
911593,2014-12,YISHUN,EXECUTIVE,277,325,152.0,Maisonette,1985,592000.0,68.0,7,9
911594,2014-12,YISHUN,EXECUTIVE,277,325,146.0,Maisonette,1985,545000.0,68.0,4,6

In [17]:
# list unique flat type
combined_df['flat_type'].unique()

array(['3 ROOM', '4 ROOM', '5 ROOM', 'EXECUTIVE', '2 ROOM',
       'MULTI-GENERATION', '1 ROOM', 'MULTI GENERATION'], dtype=object)

In [18]:
# Replace 'MULTI-GENERATION' with 'MULTI GENERATION' in the specified column to avoid duplicate
combined_df['flat_type'] = combined_df['flat_type'].str.replace('MULTI-GENERATION', 'MULTI GENERATION')

In [19]:
# list unique flat type to recheck 
combined_df['flat_type'].unique()

array(['3 ROOM', '4 ROOM', '5 ROOM', 'EXECUTIVE', '2 ROOM',
       'MULTI GENERATION', '1 ROOM'], dtype=object)

In [20]:
# Define a mapping of flat_type to numbers
category_mapping = {
    '1 ROOM': 1,
    '2 ROOM': 2,
    '3 ROOM': 3,
    '4 ROOM': 4,
    '5 ROOM': 5,
    'EXECUTIVE': 6,
    'MULTI GENERATION': 7
}

# alter the column with the mapped numbers
combined_df['flat_type'] = combined_df['flat_type'].map(category_mapping)

# Display the DataFrame
combined_df

,month,town,flat_type,block,street_name,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_lower_bound,storey_upper_bound
0,2000-01,ANG MO KIO,3,170,1,69.0,Improved,1986,147000.0,68.0,7,9
1,2000-01,ANG MO KIO,3,174,1,61.0,Improved,1986,144000.0,68.0,4,6
2,2000-01,ANG MO KIO,3,216,2,73.0,New Generation,1976,159000.0,68.0,7,9
3,2000-01,ANG MO KIO,3,215,2,73.0,New Generation,1976,167000.0,68.0,7,9
4,2000-01,ANG MO KIO,3,218,2,67.0,New Generation,1976,163000.0,68.0,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...
911590,2014-12,YISHUN,5,816,327,122.0,Improved,1988,580000.0,68.0,10,12
911591,2014-12,YISHUN,6,325,322,146.0,Maisonette,1988,540000.0,68.0,10,12
911592,2014-12,YISHUN,6,618,323,164.0,Apartment,1992,738000.0,68.0,7,9
911593,2014-12,YISHUN,6,277,325,152.0,Maisonette,1985,592000.0,68.0,7,9
911594,2014-12,YISHUN,6,277,325,146.0,Maisonette,1985,545000.0,68.0,4,6

In [21]:
# list unique flat model
combined_df['flat_model'].unique()

array(['Improved', 'New Generation', 'Model A', 'Standard', 'Apartment',
       'Simplified', 'Model A-Maisonette', 'Maisonette',
       'Multi Generation', 'Adjoined flat', 'Premium Apartment',
       'Terrace', 'Improved-Maisonette', 'Premium Maisonette', '2-room',
       'Model A2', 'IMPROVED', 'NEW GENERATION', 'MODEL A', 'STANDARD',
       'SIMPLIFIED', 'MODEL A-MAISONETTE', 'APARTMENT', 'MAISONETTE',
       'TERRACE', '2-ROOM', 'IMPROVED-MAISONETTE', 'MULTI GENERATION',
       'PREMIUM APARTMENT', 'Type S1', 'Type S2', 'DBSS',
       'Premium Apartment Loft', '3Gen'], dtype=object)

In [22]:
# Create a mapping of 'flat_model' values to numbers
flat_model_mapping = {
    'IMPROVED': 1,
    'NEW GENERATION': 2,
    'MODEL A': 3,
    'STANDARD': 4,
    'SIMPLIFIED': 5,
    'MODEL A-MAISONETTE': 6,
    'APARTMENT': 7,
    'MAISONETTE': 8,
    'TERRACE': 9,
    '2-ROOM': 10,
    'IMPROVED-MAISONETTE': 11,
    'MULTI GENERATION': 12,
    'PREMIUM APARTMENT': 13,
    'Improved': 14,
    'New Generation': 15,
    'Model A': 16,
    'Standard': 17,
    'Apartment': 18,
    'Simplified': 19,
    'Model A-Maisonette': 20,
    'Maisonette': 21,
    'Multi Generation': 22,
    'Adjoined flat': 23,
    'Premium Apartment': 24,
    'Terrace': 25,
    'Improved-Maisonette': 26,
    'Premium Maisonette': 27,
    '2-room': 28,
    'Model A2': 29,
    'DBSS': 30,
    'Type S1': 31,
    'Type S2': 32,
    'Premium Apartment Loft': 33,
    '3Gen': 34
}

# Map 'flat_model' values to numbers
combined_df['flat_model'] = combined_df['flat_model'].map(flat_model_mapping)

# Display the DataFrame
combined_df

,month,town,flat_type,block,street_name,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_lower_bound,storey_upper_bound
0,2000-01,ANG MO KIO,3,170,1,69.0,14,1986,147000.0,68.0,7,9
1,2000-01,ANG MO KIO,3,174,1,61.0,14,1986,144000.0,68.0,4,6
2,2000-01,ANG MO KIO,3,216,2,73.0,15,1976,159000.0,68.0,7,9
3,2000-01,ANG MO KIO,3,215,2,73.0,15,1976,167000.0,68.0,7,9
4,2000-01,ANG MO KIO,3,218,2,67.0,15,1976,163000.0,68.0,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...
911590,2014-12,YISHUN,5,816,327,122.0,14,1988,580000.0,68.0,10,12
911591,2014-12,YISHUN,6,325,322,146.0,21,1988,540000.0,68.0,10,12
911592,2014-12,YISHUN,6,618,323,164.0,18,1992,738000.0,68.0,7,9
911593,2014-12,YISHUN,6,277,325,152.0,21,1985,592000.0,68.0,7,9
911594,2014-12,YISHUN,6,277,325,146.0,21,1985,545000.0,68.0,4,6

In [23]:
# list unique town names
combined_df['town'].unique()

array(['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
       'BUKIT PANJANG', 'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG',
       'CLEMENTI', 'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
       'KALLANG/WHAMPOA', 'MARINE PARADE', 'PASIR RIS', 'QUEENSTOWN',
       'SENGKANG', 'SERANGOON', 'TAMPINES', 'TOA PAYOH', 'WOODLANDS',
       'YISHUN', 'SEMBAWANG', 'PUNGGOL', 'LIM CHU KANG'], dtype=object)

In [24]:
# Create a mapping of 'town' values to numbers
town_mapping = {
    'ANG MO KIO': 1,
    'BEDOK': 2,
    'BISHAN': 3,
    'BUKIT BATOK': 4,
    'BUKIT MERAH': 5,
    'BUKIT TIMAH': 6,
    'CENTRAL AREA': 7,
    'CHOA CHU KANG': 8,
    'CLEMENTI': 9,
    'GEYLANG': 10,
    'HOUGANG': 11,
    'JURONG EAST': 12,
    'JURONG WEST': 13,
    'KALLANG/WHAMPOA': 14,
    'MARINE PARADE': 15,
    'QUEENSTOWN': 16,
    'SENGKANG': 17,
    'SERANGOON': 18,
    'TAMPINES': 19,
    'TOA PAYOH': 20,
    'WOODLANDS': 21,
    'YISHUN': 22,
    'LIM CHU KANG': 23,
    'SEMBAWANG': 24,
    'BUKIT PANJANG': 25,
    'PASIR RIS': 26,
    'PUNGGOL': 27
}

# Map 'town' values to numbers
combined_df['town'] = combined_df['town'].map(town_mapping)

# Display the DataFrame
combined_df

,month,town,flat_type,block,street_name,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_lower_bound,storey_upper_bound
0,2000-01,1,3,170,1,69.0,14,1986,147000.0,68.0,7,9
1,2000-01,1,3,174,1,61.0,14,1986,144000.0,68.0,4,6
2,2000-01,1,3,216,2,73.0,15,1976,159000.0,68.0,7,9
3,2000-01,1,3,215,2,73.0,15,1976,167000.0,68.0,7,9
4,2000-01,1,3,218,2,67.0,15,1976,163000.0,68.0,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...
911590,2014-12,22,5,816,327,122.0,14,1988,580000.0,68.0,10,12
911591,2014-12,22,6,325,322,146.0,21,1988,540000.0,68.0,10,12
911592,2014-12,22,6,618,323,164.0,18,1992,738000.0,68.0,7,9
911593,2014-12,22,6,277,325,152.0,21,1985,592000.0,68.0,7,9
911594,2014-12,22,6,277,325,146.0,21,1985,545000.0,68.0,4,6

In [25]:
# Define a mapping for letters to decimal values
letter_mapping = {chr(ord('A') + i): f'.{i+1}' for i in range(26)}

# Replace letters with their corresponding decimal values
for letter, decimal in letter_mapping.items():
    combined_df['block'] = combined_df['block'].str.replace(letter, decimal)

# Use pd.to_numeric to convert the column to float and set invalid parsing to NaN
combined_df['block'] = pd.to_numeric(combined_df['block'])

# Display the DataFrame with the column as float values
combined_df

,month,town,flat_type,block,street_name,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_lower_bound,storey_upper_bound
0,2000-01,1,3,170.0,1,69.0,14,1986,147000.0,68.0,7,9
1,2000-01,1,3,174.0,1,61.0,14,1986,144000.0,68.0,4,6
2,2000-01,1,3,216.0,2,73.0,15,1976,159000.0,68.0,7,9
3,2000-01,1,3,215.0,2,73.0,15,1976,167000.0,68.0,7,9
4,2000-01,1,3,218.0,2,67.0,15,1976,163000.0,68.0,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...
911590,2014-12,22,5,816.0,327,122.0,14,1988,580000.0,68.0,10,12
911591,2014-12,22,6,325.0,322,146.0,21,1988,540000.0,68.0,10,12
911592,2014-12,22,6,618.0,323,164.0,18,1992,738000.0,68.0,7,9
911593,2014-12,22,6,277.0,325,152.0,21,1985,592000.0,68.0,7,9
911594,2014-12,22,6,277.0,325,146.0,21,1985,545000.0,68.0,4,6

In [26]:
# check datatype of the lease resale month column
month = combined_df['month'].dtype
month

dtype('O')

In [27]:
# Separate the year and month of resale
combined_df[['resale_year', 'resale_month']] = combined_df['month'].str.split('-', expand=True)
combined_df

,month,town,flat_type,block,street_name,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_lower_bound,storey_upper_bound,resale_year,resale_month
0,2000-01,1,3,170.0,1,69.0,14,1986,147000.0,68.0,7,9,2000,01
1,2000-01,1,3,174.0,1,61.0,14,1986,144000.0,68.0,4,6,2000,01
2,2000-01,1,3,216.0,2,73.0,15,1976,159000.0,68.0,7,9,2000,01
3,2000-01,1,3,215.0,2,73.0,15,1976,167000.0,68.0,7,9,2000,01
4,2000-01,1,3,218.0,2,67.0,15,1976,163000.0,68.0,7,9,2000,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911590,2014-12,22,5,816.0,327,122.0,14,1988,580000.0,68.0,10,12,2014,12
911591,2014-12,22,6,325.0,322,146.0,21,1988,540000.0,68.0,10,12,2014,12
911592,2014-12,22,6,618.0,323,164.0,18,1992,738000.0,68.0,7,9,2014,12
911593,2014-12,22,6,277.0,325,152.0,21,1985,592000.0,68.0,7,9,2014,12
911594,2014-12,22,6,277.0,325,146.0,21,1985,545000.0,68.0,4,6,2014,12

In [28]:
# drop the resale month column
combined_df.drop('month', axis = 1, inplace= True)
combined_df

,town,flat_type,block,street_name,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_lower_bound,storey_upper_bound,resale_year,resale_month
0,1,3,170.0,1,69.0,14,1986,147000.0,68.0,7,9,2000,01
1,1,3,174.0,1,61.0,14,1986,144000.0,68.0,4,6,2000,01
2,1,3,216.0,2,73.0,15,1976,159000.0,68.0,7,9,2000,01
3,1,3,215.0,2,73.0,15,1976,167000.0,68.0,7,9,2000,01
4,1,3,218.0,2,67.0,15,1976,163000.0,68.0,7,9,2000,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
911590,22,5,816.0,327,122.0,14,1988,580000.0,68.0,10,12,2014,12
911591,22,6,325.0,322,146.0,21,1988,540000.0,68.0,10,12,2014,12
911592,22,6,618.0,323,164.0,18,1992,738000.0,68.0,7,9,2014,12
911593,22,6,277.0,325,152.0,21,1985,592000.0,68.0,7,9,2014,12
911594,22,6,277.0,325,146.0,21,1985,545000.0,68.0,4,6,2014,12

In [29]:
# check for null values
combined_df.isnull().sum()

town                   0
flat_type              0
block                  0
street_name            0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
resale_price           0
remaining_lease        0
storey_lower_bound     0
storey_upper_bound     0
resale_year            0
resale_month           0
dtype: int64

In [30]:
# fetch sample data
c_df = combined_df.sample(n=100000, random_state=42)

In [31]:
# assign feature and target variable
X = c_df.drop('resale_price', axis= 1)
y = c_df['resale_price']

In [32]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# X_train and y_train will be your training data, and X_test and y_test will be your testing data.

In [33]:
# Create and train the Random Forest Regressor model
rf_regressor = RandomForestRegressor(random_state=42)
rf_regressor.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_regressor.predict(X_test)

# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)

# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

# Calculate Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)

# Calculate R-squared (R2) Score
r2 = r2_score(y_test, y_pred)

print("Mean Absolute Error (MAE)    :", mae)
print("Mean Squared Error (MSE)     :", mse)
print("Root Mean Square Error (RMSE):", rmse)
print("R-squared (R2) Score         :", r2)

Mean Absolute Error (MAE)    : 18819.343450716904
Mean Squared Error (MSE)     : 846564274.2807112
Root Mean Square Error (RMSE): 29095.77760226922
R-squared (R2) Score         : 0.969418258881421

In [34]:
# get sample to predict the resale price
pre_df = combined_df.sample(n=2)
pre_df

,town,flat_type,block,street_name,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_lower_bound,storey_upper_bound,resale_year,resale_month
617670,11,4,317.0,153,93.0,2,1983,216000.0,68.000000,4,6,1999,04
744178,19,5,168.1,540,107.0,30,2011,820000.0,90.833333,10,12,2019,05

In [35]:
# drop the resale price column
A = pre_df.drop('resale_price', axis = 1)

In [36]:
# Make predictions on the sample
pre_pred = rf_regressor.predict(A)
pre_pred

array([212268.  , 753573.88])

In [37]:
# save the processed data for the deployment
combined_df.to_csv('c.csv')